@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'San Francisco' !important;
}

#root {
  margin: 0 auto;
  text-align: center;
}
#selection {
  transition:
    height 1s ease-out,
    overflow 1s;
}
